.wrap {
	max-width: 1920px;
	min-width: 375px;
	max-height: 1080px;
	min-height: 667px;
	margin: 0 auto;
}

.header {
	width: 80%;
	margin: 0 auto;
	height: 115px;
	display: flex;
	align-items: center;
}

.logo-wrap {
	display: flex;
	flex: 1;
}

.filler {
	flex: 1;
}

.nav {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

.nav__link {
	color: #000000;
	text-decoration: none;
	font-size: 18px;
	font-family: robotoregular;
	font-style: normal;
	font-weight: bold;
}

input[type="checkbox"] {
    display: none;
}

.main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin: 70px auto;
}

.section {
	display: flex;
	flex-direction: column;
	width: 567px;
}

.section__title {
	height: 255px;
	width: 567px;
	margin: auto 0;
	font-size: 66px;
	font-family: pt_serifregular;
	font-weight: bold;
	line-height: 87px;
}

.background {
	background-color: #ecf3ff;
}

.section__text {
	height: 52px;
	width: 455px;
	margin: 40px 0;
	font-size: 22px;
	line-height: 26px;
	font-family: robotoregular;
}

.section__button {
	padding: 15px;
	width: 270.75px;
	border: none;
	background: #0056EC;
	border-radius: 4px;
	font-size: 18px;
	color: #fff;
	font-family: robotoregular;
}

.footer {
	margin: 40px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}